name: Pull Request

on:
  pull_request:
    branches: [ "**" ]

jobs:
  build-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source
        uses: actions/checkout@v4

      - name: Enable KVM on the Github Actions runner
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Build snap
        uses: snapcrafters/ci/test-snap-build@main
        with:
          install: true

      - name: Setup LXD
        uses: canonical/setup-lxd@v0.1.1

      - name: Test ghvmctl
        run: |
          set -xe
          sudo snap connect ghvmctl:lxd lxd:lxd

          ghvmctl && exit 1 || true

          ghvmctl prepare

          ghvmctl snap-install signal-desktop --channel candidate
          ghvmctl snap-install terraform --revision 584
          ghvmctl snap-install kubectl

          # Check deprecated commands
          ghvmctl install-snap hello
          ghvmctl run-snap hello

          ghvmctl snap-run signal-desktop
          ghvmctl screenshot-full
          ghvmctl screenshot-window

          ghvmctl snap-is-running signal-desktop
          ghvmctl snap-is-running terraform && exit 1 || true

          ghvmctl snap-terminate signal-desktop
          ghvmctl snap-is-running signal-desktop && exit 1 || true
          ghvmctl snap-kill kubectl && exit 1 || true

          ghvmctl exec "cat /home/ubuntu/signal-desktop.log"

      - name: Upload screenshots
        uses: actions/upload-artifact@v3
        with:
          name: screenshots
          path: ~/ghvmctl-screenshots
          if-no-files-found: error
